<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:oxm="http://www.springframework.org/schema/oxm"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/oxm
	http://www.springframework.org/schema/oxm/spring-oxm-3.0.xsd">

	<bean id="sessionManager"
		class="com.google.gwt.dist.compiler.agent.impl.SessionManagerImpl">
		<property name="communicator" ref="communicator" />
		<property name="state" ref="sessionstate" />
	</bean>

	<bean id="communicator"
		class="com.google.gwt.dist.compiler.agent.communicator.impl.CommunicatorImpl">
		<constructor-arg ref="zipdecompressor" />
		<constructor-arg ref="temporarystoragelocation" />
		<property name="sessionManager" ref="sessionManager" />
	</bean>

	<bean id="sessionstate" class="com.google.gwt.dist.SessionState" />

	<bean id="temporarystoragelocation" class="java.io.File">
		<constructor-arg type="java.lang.String" value="uncompressed" />
	</bean>

	<bean id="zipdecompressor" class="com.google.gwt.dist.util.ZipDecompressor" />

</beans>